.dock{
    padding: 10px;
    background-color: beige;
    border-radius: 50px;
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    width: auto;
    margin: 20px;
}
.btn{
    padding: 5px;
    border-radius: 20px;
}
.active{
    background-color: black;
    color: white;
}